.topnav {
  background-color: #1d4354;
  padding: 5px;
}
#top-navbar {
  color: #ffffff;
  display: flex;
}
#user_logo {
  border-radius: 10px;
  float: right;
}

#input-item {
  margin-right: 55px;
  margin-top: 30px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #00db2d;
  font-weight: 600;
  font-family: "Helvetica Neue";
}
